<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
            </ol>
          </div>
        </div>
      </div>
      <div class="content-header-right col-md-6 col-12">
      </div>
    </div>
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
     <h3 class="content-header-title">Patients Information</h3>
     <div class="row breadcrumbs-top">
     </div>
      </div>
    </div>
    <div class="col-lg-10 col-md-12">
      <div class="card">
     <div class="card-body">
     <div class="row">
       <div class="col-lg-4 col-md-4 d-flex justify-content-around">
      <div class="patient-img-name text-center">
      <img src="../../../assets/app-assets/images/portrait/small/hosp.jpg"
       class="card-img-top mb-1 patient-img img-fluid rounded-circle">
     <h4> <b> </b></h4>
      </div>
       </div>
       <div class="col-lg-8 col-md-8 d-flex justify-content-around">
      <div class="patient-info">
      <ul class="list-unstyled ">
         <li><b>TIME/DURATION FOR DRUG:</b><div class="patient-info-heading"></div>{{pschs.drugDuration}}</li>
         <li><b>REASON FOR USE:</b><div class="patient-info-heading"></div>{{pschs.reasUse}}</li>
         <li><b>SYMPTOMS :</b><div class="patient-info-heading"> </div>{{pschs.symptoms}}</li>
         <li><b>CRIMINAL AFFAIR:</b> <div class="patient-info-heading"></div>{{pschs.crAffair}}</li>
         <li><b>FAMILY HISTORY:</b> <div class="patient-info-heading"></div>{{pschs.fhistory}}</li>
        <li><b>PSYCHOLOGIST COMMENTS:</b><div class="patient-info-heading"></div>{{pschs.comm}}</li>
        <li><b>PSYCHOLOGIST PLAN:</b><div class="patient-info-heading"></div>{{pschs.splan}}</li>
      </ul>
      </div>
       </div>
     </div>
     </div>
      </div>
    </div>




