<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
            </ol>
          </div>
        </div>
      </div>
      <div class="content-header-right col-md-6 col-12">
      </div>
    </div>
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
     <h3 class="content-header-title">Patients Information</h3>
     <div class="row breadcrumbs-top">
     </div>
      </div>
    </div>
    <div class="col-lg-10 col-md-12">
      <div class="card bg-secondary">
     <div class="card-body">
     <div class="row">
       <div class="col-lg-4 col-md-4 d-flex justify-content-around">
      <div class="patient-img-name text-center">
      <img src="../../../assets/app-assets/images/portrait/small/hosp.jpg"
       class="card-img-top mb-1 patient-img img-fluid rounded-circle">
     <h4> <b> </b></h4>
      </div>
       </div>
       <div class="col-lg-8 col-md-8 d-flex justify-content-around">
      <div class="patient-info">
      <ul class="list-unstyled text-white">
         <li><span class="patient-info-heading"> <b>Most used :</b> </span> {{pschs.symptoms}}</li>
         <li><span class="patient-info-heading"> <b>Most used :</b> </span> {{pschs.symptoms}}</li>
         <li><span class="patient-info-heading"> <b>Most used :</b> </span> {{pschs.symptoms}}</li>
        <li><span class="patient-info-heading"> <b>Most used :</b> </span> {{pschs.symptoms}}</li>
      </ul>
      </div>
       </div>
     </div>
     </div>
      </div>
    </div>




