<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
            </ol>
          </div>
        </div>
      </div>
      <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group">
          <button class="btn btn-info btn-min-width btn-glow mr-1 mb-1" (click)="onBack()" >Back</button>
        </div>
      </div>
    </div>
    <div class="content-body">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Edit Patient</h4>
            <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">

              <form [formGroup]="EditForm">
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput  formControlName="patFName" required>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Last Name</mat-label>
                      <input matInput  formControlName="patLName" required>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Phone</mat-label>
                      <input matInput  formControlName="phoneNumber"required>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Address</mat-label>
                      <input matInput  formControlName="address" required>
                    </mat-form-field>
                  </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                      <mat-form-field appearance="outline">
                        <mat-label>Kin Name</mat-label>
                        <input matInput  formControlName="kinName" required>
                      </mat-form-field>
                    </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Relationship</mat-label>
                      <mat-select matInput  formControlName="kinRelation" required>
                      <mat-option value="Baba">Baba</mat-option>
                      <mat-option value="Mama">Mama</mat-option>
                      <mat-option value="Kaka">Kaka</mat-option>
                      <mat-option value="Dada">Dada</mat-option>
                      <mat-option value="Mjomba">Mjomba</mat-option>
                      <mat-option value="Ami">Ami</mat-option>
                      <mat-option value="Jirani">Jirani</mat-option>
                      <mat-option value="Sheha">Sheha</mat-option>
                      </mat-select>
                    </mat-form-field>
                    </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Kin number</mat-label>
                      <input matInput  formControlName="kinPhoneNumber" required>
                    </mat-form-field>
                  </div>
                  </div>
              <div class="card-bottom">
                <button mat-raised-button color="primary" (click)="onClose()">Cancel</button> &nbsp;
                <button mat-raised-button color="primary"  (click)="onEdit()">Edit</button>
              </div>
              </form>
              </div>
        </div>
    </div>
  </div>
</div>
