<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
            </ol>
          </div>
        </div>
      </div>
      <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group">
          <button class="btn btn-info btn-min-width btn-glow mr-1 mb-1" (click)="onBack()" >Back</button>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="invoice-summary">
        <!--Total Receivables -->
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Registration</h4>
            <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">

              <form [formGroup]="EditForm">
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput  formControlName="patFName" required>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Last Name</mat-label>
                      <input matInput  formControlName="patLName" required>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>DOB</mat-label>
                      <input matInput  formControlName="dob" required>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Kin Name</mat-label>
                      <input matInput  formControlName="kinName" required>
                    </mat-form-field>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Relationship</mat-label>
                      <input matInput  formControlName="kinRelation" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Cow Name</mat-label>
                      <input matInput placeholder="Jina kamili" formControlName="cowName" required>
                    </mat-form-field>
                  </div>

                  <!-- <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput placeholder="Jina kamili" formControlName="firstName" required>
                    </mat-form-field>
                  </div> -->

                  <!-- <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput placeholder="Jina kamili" formControlName="firstName" required>
                    </mat-form-field>
                  </div> -->

                  <!-- <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput placeholder="Jina kamili" formControlName="firstName" required>
                    </mat-form-field>
                  </div> -->
                </div>
                <!-- <hr>
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput placeholder="Jina kamili" formControlName="firstName" required>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput placeholder="Jina kamili" formControlName="firstName" required>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput placeholder="Jina kamili" formControlName="firstName" required>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput placeholder="Jina kamili" formControlName="firstName" required>
                    </mat-form-field>
                  </div>
                </div> -->
                <!-- <hr> -->
                <!-- <div class="row">
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Jina la kwanza</mat-label>
                      <input matInput  formControlName="fName" required>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Jina la mwisho</mat-label>
                      <input matInput  formControlName="lName" required>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Mahusiano</mat-label>
                      <input matInput  formControlName="relation" required>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Nambari ya simu</mat-label>
                      <input matInput   formControlName="pnum" required>
                    </mat-form-field>
                  </div>
                </div> -->
              </form>
              <br><br>

              <div class="card-bottom">
                <button mat-raised-button color="primary" (click)="onClose()">Cancel</button> &nbsp;
                <button mat-raised-button color="primary"  (click)="onEdit()">Edit</button>
              </div>
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body overflow-hidden row">
              <div class="col-md-9 col-sm-12 border-right-grey border-right-lighten-2">
                <div id="invoice-total-recievables" class="height-20"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
