<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
            </ol>
          </div>
        </div>
      </div>
      <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" >
        <button type="button" class="btn btn-info btn-min-width btn-glow mr-1 mb-1" (click)="onClient()">Add Client</button>
        </div>
      </div>
    </div>
    <div class="content-body"><section id="invoice-summary">

<div class="card">
<div class="card-header">
  <h4 class="card-title">Patients</h4>
  <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
</div>
<div class="card-content collapse show">
  <div class="card-body">

    <mat-form-field appearance="outline">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

         <table mat-table [dataSource]="dataSource" matSort>


        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row; let i = index"> {{i+1}} </td>
        </ng-container>


        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> T.Use </th>
          <td mat-cell *matCellDef="let row"> {{row.drugDuration}} </td>
        </ng-container>

        <ng-container matColumnDef="reason">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason </th>
          <td mat-cell *matCellDef="let row"> {{row.reasUse}} </td>
        </ng-container>


        <ng-container matColumnDef="sympto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Attempt </th>
          <td mat-cell *matCellDef="let row"> {{row.rstop}} </td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> T.Stop </th>
          <td mat-cell *matCellDef="let row"> {{row.tstop}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Drug/Day </th>
          <td mat-cell *matCellDef="let row"> {{row.drugDay}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button color="primary" (click)="openDialog2(row)">Edit</button>&nbsp;
            <button mat-raised-button color="primary" matDialogClose="yes" (click)="onView()">View</button>
           </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>
</div>
</section>

    </div>
  </div>
</div>


<ng-template #distributionDialog>
  <app-card title="Add">
    <hr>
    <form [formGroup]="PsyForm">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Drug abuse duration</mat-label>
            <input matInput placeholder="Current duration" formControlName="drugDuration">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field style="width: 100%;"  appearance="outline" class="example-ripple-form-field">
            <mat-label>Drug abuse in day</mat-label>
            <input matInput  type="number" formControlName="drugDay" >
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Drug Type</mat-label>
              <mat-select formControlName="drugs">
                  <mat-option *ngFor="let drugs of DrugType" [value]="drugs">{{drugs.drugName}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>

      <!-- <div class="col-md-4">
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Drug Type</mat-label>
            <mat-select formControlName="drugs" multiple="">
                <mat-option *ngFor="let drugs of DrugType" [value]="drugs.value">
                    {{drugs.drugName}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div> -->
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Reason for drug abuse</mat-label>
            <input matInput placeholder="Reason for using" formControlName="reasUse">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Time attempted to stop</mat-label>
            <input matInput  type="number" formControlName="tstop">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Reason for stopping</mat-label>
            <input matInput placeholder="Negative effects" formControlName="rstop">
          </mat-form-field>
        </div>
      </div>
       <div class="row">
        <div class="col-md-6">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Familiy history:</mat-label>
            <textarea matInput placeholder="Write patients family history..." formControlName="fhistory"></textarea>
          </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Criminal/Social affairs:</mat-label>
        <textarea matInput placeholder="Write patients affairs..." formControlName="crAffair"></textarea>
      </mat-form-field>
    </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Symptoms for mental disorder</mat-label>
              <mat-select formControlName="symptoms" multiple="">
                  <mat-option *ngFor="let type of disorder" [value]="type.value">
                      {{type.value}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Psychological intervation plan:</mat-label>
              <textarea matInput placeholder="Write your intervantion plan here...." formControlName="splan"></textarea>
            </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Psychological Comments:</mat-label>
          <textarea matInput placeholder="Write your comments here..." formControlName="comm"></textarea>
        </mat-form-field>
  </div>
      </div>


    </form><br><br>

    <div class="card-bottom">
      <button mat-raised-button matDialogClose="yes">Cancel</button> &nbsp;
      <button mat-raised-button color="primary" matDialogClose="yes" (click)="onSave()">Add</button>
    </div>

  </app-card>
</ng-template>

<ng-template #distributionDialog2>
  <app-card title="Edit">
    <hr>
    <form [formGroup]="EditPsyForm">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Drug abuse duration</mat-label>
            <input matInput placeholder="Current duration" formControlName="drugDuration">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field style="width: 100%;"  appearance="outline" class="example-ripple-form-field">
            <mat-label>Drug abuse in day</mat-label>
            <input matInput  type="number" formControlName="drugDay" >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Reason for drug abuse</mat-label>
            <input matInput placeholder="Reason for using" formControlName="reasUse">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Time attempted to stop</mat-label>
            <input matInput  type="number" formControlName="tstop">
          </mat-form-field>
        </div>
      </div>
        <div class="row">
        <div class="col-md-6">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Reason for stopping</mat-label>
            <input matInput placeholder="Negative effects" formControlName="rstop">
          </mat-form-field>
        </div>
      </div>
    </form><br><br>

    <div class="card-bottom">
      <button mat-raised-button matDialogClose="yes">Cancel</button> &nbsp;
      <button mat-raised-button color="primary" matDialogClose="yes" (click)="onEdit()">Edit</button>
    </div>

  </app-card>
</ng-template>

