<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
            </ol>
          </div>
        </div>
      </div>
      <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" >
        <button type="button" class="btn btn-info btn-min-width btn-glow mr-1 mb-1" (click)="onClient()">Add Client</button>
        </div>
      </div>
    </div>
    <div class="content-body"><section id="invoice-summary">
<!-- Total Receivables -->
<div class="card">
<div class="card-header">
  <h4 class="card-title">Psychologist</h4>
  <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
</div>
<div class="card-content collapse show">
  <div class="card-body">

    <mat-form-field appearance="outline">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

         <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
          <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="fruit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </th>
          <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>
</div>
</section>

    </div>
  </div>
</div>

<!-- Dialog -->
<ng-template #distributionDialog>
  <app-card title="Add Client">
    <hr>
    <form>
      <!-- <div class="row">
        <div class="col-md-3">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>MAT ID:</mat-label>
            <input matInput placeholder="mat id">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>FILE No:</mat-label>
            <input matInput placeholder="file no">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Patient Name</mat-label>
            <input matInput placeholder="full name">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <label for="gender">Jinsia:</label><br>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Mme</mat-radio-button>
            <mat-radio-button value="2">Mke</mat-radio-button>
          </mat-radio-group>
        </div>
      </div> -->
      <div class="row">
        <!-- <div class="col-md-3">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Age</mat-label>
            <input matInput placeholder="age">
          </mat-form-field>
        </div> -->
        <div class="col-md-3">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Drug abuse duration</mat-label>
            <input matInput placeholder="Current duration">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Type of substance</mat-label>
            <input matInput placeholder="type of substance">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="example-ripple-form-field">
            <mat-label>Drug abuse in day</mat-label>
            <input matInput  type="number">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Reason for drug abuse</mat-label>
            <input matInput placeholder="Reason for using">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Time attempted to stop</mat-label>
            <input matInput  type="number">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Reason for stopping</mat-label>
            <input matInput placeholder="Negative effects">
          </mat-form-field>
        </div>
        <div class="col-md-3">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Zone Name</mat-label>
            <input matInput placeholder="zone name">
          </mat-form-field>
        </div>
      </div>
       <div class="row">
        <div class="col-md-4">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Familiy history:</mat-label>
            <textarea matInput placeholder="Write patients family history..."></textarea>
          </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Criminal/Social affairs:</mat-label>
        <textarea matInput placeholder="Write patients affairs..."></textarea>
      </mat-form-field>
</div>
        <div class="col-md-4">
          <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Drug Type</mat-label>
              <mat-select formControlName="" multiple="">
                  <mat-option *ngFor="let type of DrugType" [value]="type.value">
                      {{type.value}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Symptoms for mental disorder</mat-label>
              <mat-select formControlName="" multiple="">
                  <mat-option *ngFor="let type of disorder" [value]="type.value">
                      {{type.value}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Psychological intervation plan:</mat-label>
              <textarea matInput placeholder="Write your intervantion plan here...."></textarea>
            </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Psychological Comments:</mat-label>
          <textarea matInput placeholder="Write your comments here..."></textarea>
        </mat-form-field>
  </div>
      </div>


    </form><br><br>

    <div class="card-bottom">
      <button mat-raised-button matDialogClose="yes">Cancel</button> &nbsp;
      <button mat-raised-button color="primary" matDialogClose="yes">Add</button>
    </div>

  </app-card>
</ng-template>

