<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="la la-calendar-check-o font-large-2 success"></i>
                  </div>
                  <div class="media-body text-right">
                    <h5 class="text-muted text-bold-500">Registered Patients</h5>
                    <h3 class="text-bold-600">122</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="la la-stethoscope font-large-2 warning"></i>
                  </div>
                  <div class="media-body text-right">
                    <h5 class="text-muted text-bold-500">Available Patients</h5>
                    <h3 class="text-bold-600">34</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="la la-times font-large-2 info"></i>
                  </div>
                  <div class="media-body text-right">
                    <h5 class="text-muted text-bold-500">Absentee Patients</h5>
                    <h3 class="text-bold-600">3.5K</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row match-height" *ngIf="roleName =='RECEPTION'">
        <div class="col-12 col-md-5">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Doctors Available</h4>
              <app-piechart></app-piechart>
            </div>
            <div class="card-content">

            </div>
          </div>
        </div>
        <div id="recent-appointments" class="col-12 col-md-7">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Recent Appointments</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                </ul>
              </div>
            </div>
            <div class="card-content mt-1">
              <app-barchart></app-barchart>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- END: Content-->
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
